@{
}
@model Post_EDU.Core.UploadModels.UserUpload

<link rel="stylesheet" href="~/css/reg.min.css" asp-append-version="true" />

<div class="title">
    <h1>Registration</h1>
</div>
<div class="content">
    <div class="form-wrapper">
        <form asp-controller="Authorize" asp-action="Register" method="post" enctype="multipart/form-data">
            <div class="label-wrapper">
                <label asp-for="Name">Name</label>
                <span asp-validation-for="Name" class="text-danger"></span>
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
                <label asp-for="PathImg">Image</label>
                <span asp-validation-for="PathImg" class="text-danger"></span>
            </div>
            <div class="input-wrapper">
                <input asp-for="Name" />
                <input asp-for="Password" />
                <input asp-for="PathImg" />
            </div>
            <input type="submit" value="Register" class="sub-btn">
        </form>
    </div>
</div>
