@{
}
@model Post_EDU.Core.UploadModels.PostUpload

<link rel="stylesheet" href="~/css/create.min.css" asp-append-version="true" />

<div class="title">
    <h1>New Post</h1>
</div>

<div class="content">
    <div class="form-wrapper">
        <form asp-controller="Post" asp-action="Create" method="post" enctype="multipart/form-data">
            <label asp-for="Title">Title</label>
            <input asp-for="Title">
            <label asp-for="CategoryId">Category</label>
            <input asp-for="CategoryId">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="desc-post"></textarea>
            <label asp-for="Text">Text</label>
            <textarea asp-for="Text" class="text-post"></textarea>
            <button type="submit">Publish</button>
        </form>
    </div>
</div>